html {
  padding: 0;
  margin: 0;
  background-color: #00181C;
}

header {
  background-color: #00363E;
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#LogoDiarioTech {
  mix-blend-mode: plus-lighter;
  filter: invert(1) brightness(9.2) contrast(1.1);
  padding: 5px;
}

header p {
  padding-right: 15px;
}

header  h1{
  margin: 0;
}

nav {
  
  background-color: #00363E;
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

nav ul {
  display: none; 
  justify-content: center;
  list-style: none;

  
}

nav ul li {
  
  padding-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s ease;
}

nav .boton-menu-hamburguesa {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 32px;
  margin-bottom: 10px;
}

nav .boton-menu-hamburguesa .barra {
  background-color: #fff;
  border-radius: 10px;
  height: 3px;
  width: 100%;
}

main {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  /*border: 1px solid #ddd;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.NoticiaPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  /*margin-bottom: 20px;*/
  height: 500px;
  width: 100%;
  background-image: url("assets/ImgNoticiaPrincipal.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 7%;
}

.primerBloque {
  display: flex;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}



.contenido-noticiaP {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.5);
  color: #fff;
  bottom: 0;
  width: 100%;
  border-bottom-right-radius: 8%;
  border-bottom-left-radius: 8%;
}

.contenido-noticiaP h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contenido-noticiaP p {
  font-size: 18px;
  margin-bottom: 20px;
  display: none;
}

.contenido-noticiaP a {
  font-size: 18px;
  color: #013766;
  text-decoration: none;
  transition: color 0.2s ease;
}

.contenido-noticiaP a:hover {
  color: #23527c;
}

.NoticiasSecNoImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.noticiaNoImg {
  width: 100%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #fff;
}

.noticiaNoImg h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.noticiaNoImg p {
  font-size: 16px;
  margin-bottom: 10px;
}

.noticiaNoImg a{
  font-size: 16px;
  color: #0766ba;
  text-decoration: none;
  transition: color 0.2s ease;

}




.masNoticias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ImgNoticiaSecundaria{
  width: 40%;
  height: 100%;
  background-image: url("assets/ImgNoticiaSecundaria.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
  background-size:contain;
  background-position: center;
}


#Cpp{
  background-image: url("assets/C++.jpg");
}
#C{
  background-image: url("assets/C.jpg");
}
#JS{
  background-image: url("assets/JS.jpg");
}
#python{
  background-image: url("assets/python.jpg");
}
#Csharp{
  background-image: url("assets/Csharp.jpg");
}
#CSS{
  background-image: url("assets/CSS.jpg");
  
}
#HTML{
  background-image: url("assets/HTML.jpg");
}
#exJS{
  background-image: url("assets/ExJS.jpg");
}
#nodeJS{
  background-image: url("assets/nodeJS.jpg");
}
#React{
  background-image: url("assets/React.jpg");
}
#MongoDB{
  background-image: url("assets/mongoDB.jpg");
}





.contenidoNoticiaSec{

  /*width: 50%;*/
  /*padding: 20px;*/
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0;
  width: 100%;

}

.contenidoNoticiaSec h2{
  padding: 0;
  margin-top: 50px;
}

.contenidoNoticiaSec p{
  padding-bottom: 10px;
  margin: 0;
}

.contenidoNoticiaSec a {
  font-size: 20px;
  color: #26cefc;
  text-decoration: none;
  transition: color 0.2s ease;
}

.contenidoNoticiaSec a:hover {
  color: #0088ff;
}



footer {
  background-color: #00363E;
  bottom: 0;
  height: 10%;
  display:  flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  color:  rgb(202, 202, 202);

}

footer .redes{
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 10px;

  

}

footer .arriba{
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
}


footer #LogoDiarioTech {
  height: 100px;
  position: relative;
}


.redes a {
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px;
  
}

.redes svg {
  width: 100%;
  height: 100%;
  fill: rgb(202, 202, 202); 
}

footer p {
  margin: 10px;
}



/* Estilos para tablets (mínimo 768px) */
@media screen and (min-width: 768px) {
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }




  
  .NoticiaPrincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
  .primerBloque{
    display: flex;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }

  nav ul{
    display: flex;
  }
  nav .boton-menu-hamburguesa{
    display: none;
  }
  .contenido-noticiaP{
    position: relative;
  }
  .contenido-noticiaP p {
    display: flex;
  }

  .masNoticias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }











}

/* Estilos para desktops (mínimo 1024px) */
@media screen and (min-width: 1024px) {

  
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    width: 100%;
    max-width: 1200px; /* Ajusta según sea necesario */


  }
  .NoticiaPrincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    position: relative;
    width: 40%;
  }
  .primerBloque{

    max-width: (1206*0.8) px;

    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center
  }
  nav ul{
    display: flex;
  }
  nav .boton-menu-hamburguesa{
    display: none;
  }
  .contenido-noticiaP p {
    display: block;
  }

  .NoticiasSecNoImg {
    width: 40%;
  }


  .masNoticias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    /*width: 80;*/

  }

  .ImgNoticiaSecundaria {
  width: 40%;
    
  }
 footer{
  display: flex;
  align-items: flex-start
 }

  footer .arriba{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  footer #LogoDiarioTech {
    margin-left: 3%;
  }

  footer .redes{
    margin-right: 5%;
  }

  footer p{
    margin-left: 3%;
  }

 
}


